@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #192f59;
  --secondary: #00ff00;
  --tertiary: #0000ff;
  --accent: #ff00ff;
  --highlight: #ffff00;
  --muted: #f0f0f0;
  --dark: #000000;
  --light: #ffffff;
  --success: #00ff00;
  --warning: #ffff00;
  --error: #ff0000;
  --info: #0000ff;
  --link: #fdc800;
  --visited: #800080;
  --hover: #e41f05;
  --active: #0000ff;
  --focus: #00ff00;
  --disabled: #f0f0f0;
  --placeholder: #f0f0f0;
  --transparent: transparent;
  --current: currentColor;
  --inherit: inherit;
  --initial: initial;
  --unset: unset;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
